<div *ngFor="let progressInfo of progressInfos" class="mb-2">
    <span>{{ progressInfo.fileName }}</span>
    <div class="progress">
      <p><mat-progress-bar mode="determinate" value="{{ progressInfo.value }}">
        {{ progressInfo.value }}</mat-progress-bar>
      </p>
     
    </div>
  </div>
  
  <label class="btn btn-default">
    <input type="file"  mat-raised-button  multiple (change)="selectFiles($event)" />
    
  </label>
  <button
  mat-raised-button color="accent"
    [disabled]="!selectedFiles"
    (click)="uploadFiles()"
  >
    Upload
  </button>
  
  <div class="alert alert-light" role="alert">{{ message }}</div>
  
  <div class="card">
    <div class="card-header">List of Files</div>
    <ul
      class="list-group list-group-flush"
      *ngFor="let file of fileInfos | async"
    >
      <li class="list-group-item">
        <a href="{{ file.url }}">{{ file.name }}</a>
      </li>
    </ul>
  </div>